.content_chat {
  position: relative;
}

.content_wrapper {
  margin: 107px 0 94.4px 0;
  overflow: auto;
  max-height: calc(100vh - 107px - 94.4px);
}

.chat_content {
  min-height: calc(100vh - 107px - 94.4px);
  list-style: none;
  margin: 0;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 8px;
}

.list_roomchat_content {
  font-size: 16px;
  display: flex;
}

.list_roomchat_content.active {
  justify-content: flex-end;
}

.list_roomchat_content div {
  max-width: 50%;
  padding: 4px 8px;
  border-radius: 8px;
  color: #ffff;
  background-color: #151515;
}
